header
  .header-content
    .logo
      .logo-icon ST
      .logo-text STOCKTRADER.PRO
    
    .market-time
      div NYSE: 15:42:33 EST
      .market-status Market Open

    .user-section
      .portfolio-balance $125,847.92
      .user-id USER_ID: J.DOE_001
