doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title StockTrader.pro
    link(rel="stylesheet" href="/css/style.css")
  body
    div.terminal-bg

    div.container
      include partials/header
      div.main-grid
        include partials/tradingTerminal
        include partials/sidebar
      include partials/marketData
